@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lobster&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*Old css styles from prevoius "homepage" project without gulp */

.body { /* body elements */
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(55deg, #839393 17%, #3325e5 100%);
	background-color: #839393;
  background-size: cover;
  font-family: 'Lato';
	margin: 32px auto;
	max-width: 700px;
	min-height: 100vh;
	width: 100%;
	text-align: center; 
}

.header {
  &__title { /* h1, website title BEM*/
    color: rgb(255, 255, 255);
    font-family: 'Lobster';
    padding-top: 50px; 
    &--red {
    color: darkred;
    }
  }
}
.logo {

}

.WTFlogo {
  border-radius: 25px;
}
.site-header { /* main menu */
	background-color: rgba(100, 100, 100, 0.555);
	border-radius: 25px;
  box-sizing: content-box;
  font-family: 'Lobster';
	position: fixed;
	top: 0;
	width: 700px;
	z-index: 10;
}

.navigation {
	&__list {
		align-items: center;
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}
	&__item {
		display: block;
    margin: 0 5px;
    padding: 5px;
		&:hover {
			font-weight: bold;
    }
    &--menu {
      color: black;
      font-variant:none;
      font-family: 'Lobster';
      font-size: 28px;
      &:hover {
        font-variant:none;
      }
    }
	}
	&__link {
    color: white;
    font-family: 'Lato';
    font-style: bold italic;
		&:hover {
      color: purple;
      font-family: 'Lobster';
      font-size: 145%;
      font-style: bold;
    }
		&--blog {
			color: white;
      font-style: italic;
			&:hover {
        font-weight: bold;
        font-variant:small-caps;
			}
		}
	}		
}

.main { 
	background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 2vw;
  &__section {

  }
  &__paragraph { /* p text main element + BEM */
    color: darkblue;
    font-size: 18px;
    padding: 5px 0 16px 0;
  }
  &__paragraph--blog { /* p text blog element + BEM */
    font-size: 16px;
    padding: 0 0 16px 0;
  }
}

.article{

}

.section__header { /* h2 text element BEM*/
  border-bottom: 5px dotted white;
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 25px;
  color: black;
  font-size: 28px;
  font-family: 'Lobster';
	margin-bottom: 2vw;
	text-decoration: underline;
}


.blog {
  &__navigation--header {
    color: black;
    font-family: 'Lobster';
  }
  &__navigation--box{
    background-color: rgba(100, 100, 100, 0.4);
    border: 2px solid white;
    border-radius: 25px;
    box-sizing: border-box;
    font-weight: bold;
    height: 100px;
    margin: 2vw auto; 
    width: 350px;
  }
  &__header {
    background-color: rgba(100, 100, 100, 0.4);
    border-bottom: 5px dotted white;
    border-radius: 25px;
    box-sizing: border-box;
    color: black;
    font-family: 'Lobster';
    text-decoration: underline;
    font-size: 28px;
  }
  &__section {
  }
  &__section:not(.blog__section--special) {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 25px;
    padding: 1vw;
  }
}

.post__title {
  color: purple;
  font-family: 'Lobster';
	font-size: 18px;
  font-style: italic;
  &::before {
    color: red;
    content: "</>";
    display: inline-block;
    margin-right: 5px;
  }
  &::after {
    content: "";
    border-radius: 50%; 
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background: #1460AA;
  }
}

.glossary {
}

.data {

}

.table {
	border: 1px solid grey;
	border-collapse: collapse;
	table-layout: auto;
  width: 100%;
  &__caption {
    border: 1px solid white;
  }
  &__head {
  }
  &__tr {
  }
  &__th {
    border: 1px solid white;
  }
  &__body {
  }
  &__td {
    border: 1px solid white;
  }
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

/* on site addons */
.footer {
	background-color: rgba(100, 100, 100, 0.555);
	border-radius: 25px;
	color: white; 
	justify-content: center;
	margin: 2vw 0 0 0;
	padding: 1vw;
}

.top {
	background-color: rgba(100, 100, 100, 0.555);
	border-radius: 25px;
	bottom: 10px;
	color: white;
	left: 10px;
	padding: 1vw 2vw;
	position: fixed;
	text-decoration: none;
}

/* weekdays pages */
.weekday__image { 
	margin: 1vw;
}

/*Media*/

@media  (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
  }
}
@media  (min-width: 600px) {
  .navigation__switcher {
		display: none;
  }
}

@media (max-width: 640px) {
	.site-header {
		border-radius: 25px;
		display: flex;
		justify-content: flex-start;
		max-width: 100px;
		min-height: 40px;
  }
  
  .navigation {
    &__list {
      display: none;
      flex-direction: column;
      align-content: flex-end;
    }
    &__list--visable {
      display: flex;
    }
    &__item {
      margin: 5px;
      padding-top: 3vw;
      &--menu {
        display: none;
      }
    }
    &__switcher {
      align-content: center;
      background: none;
      border: none;
      color: white;
      display: flex;
      font-size: 30px;
      margin: 1vw 0 5vw 5vw ;
      position: absolute; 
    }
  }
}
